.popular-procut-item-wrapper {
  button {
    background-color: #ed502f;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }
  strong {
    font-size: 0.7rem;
  }
}
