.card-container {
  padding: 0 !important;
  @media screen and (min-width: 1200px) {
    padding-left: 1rem !important;
  }
}
.card-wrapper {
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  .title {
    color: #222;
    font-size: 1.09375rem;
    font-weight: 700;
  }
  .description {
    color: #ed502f;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .discount-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5rem;
    background-color: #ed502f;
    margin-inline: 0.7rem;
    border-radius: 0.3125rem;
    @media screen and (min-width: 768px) {
      padding: 5px !important;
    }
    span {
      font-size: 0.8rem;
      color: #ffffff;
      font-weight: 700;
    }
  }
  .discount-price {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    color: #c9c9c9;
    font-weight: 400;
    text-decoration-line: line-through;
    @media screen and (min-width: 768px) {
      margin-left: 0.8rem;
    }
  }
  .price {
    font-size: 1.4rem;
    font-weight: 600;
    @media screen and (min-width: 1200px) {
      margin-top: 4px;
      margin-left: 6px;
    }
    span {
      font-weight: normal;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  .buy-now {
    background-color: #ed502f;
    color: #ffffff;
    border-radius: 0.3125rem;
  }
  .add-to-cart {
    border: 1px solid #222;
    border-radius: 0.3125rem;
  }
}

.card-wrapper-md {
  max-height: 123px;
  img {
    max-width: 107px;
  }
}

.dark-mode {
  .card-wrapper,
  .card-wrapper-md {
    background-color: #282828;
    border-color: #484848;
    color: #f3f3f3;
    .title {
      color: #969696;
    }
    .buy-now {
      color: #bfbfbf;
      border: 1px solid #bfbfbf;
    }
    .add-to-cart {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
    }
  }
}
