.header-wrapper {
  background-color: #ffffff;
  .header-top {
    display: flex;
    border-bottom: 0.125rem solid #e4e4e4;
    padding-inline: 0.875rem;
    padding-bottom: 0.3rem;
    .brand-icons {
      color: #969696;
      padding-right: 1rem;
      font-weight: 600;
      font-size: 1.3rem;
      @media screen and (min-width: 585px) and (max-width: 1200px) {
        padding-inline: 1rem !important;
      }
      @media screen and (min-width: 1440px) {
        padding-inline: 1rem !important;
      }
      &:hover {
        color: #282828;
      }
    }
    .col-lg-10 {
      padding: 0;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
          color: #969696;
          font-size: 0.9rem;
          font-weight: 500;
          padding-top: 7px;
          cursor: pointer;
          &:hover {
            color: #282828;
          }
        }
        .help {
          color: #ed502f;
        }
        .seller {
          color: #297927;
        }
      }
    }
  }
  .header-center {
    padding-block: 1rem;
    .desktop-user-menu {
      @media screen and (min-width: 1200px) {
        padding-left: 2rem;
      }
    }
    .logo {
      width: 10.75rem;
      height: 3rem;
    }
    .menus {
      button {
        background-color: #ffffff;
        outline: none;
        border: none;
        width: 36px;
        height: 36px;
        border: 1px solid #e4e4e4;
        border-radius: 50%;
        margin-left: 1rem;
      }
      .language-menu {
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.3;
        }
        .language-text {
          font-weight: bold;
        }
      }
      .user-menu {
        width: 50px;
        height: 50px;
        position: relative;
        .user-icon-wrapper {
          position: absolute;
          width: 85%;
          height: 85%;
          border: 1px solid #e4e4e4;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          color: #969696;
        }
      }
    }
    .dropdown {
      min-width: 3.125rem;
      max-width: 11.25rem;
      border: 1px solid #e4e4e4;
      border-radius: 30em;
      cursor: pointer;
      background-color: #fff;
      .avatar {
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #e4e4e4;
        border-radius: 30em;
        margin-left: 0.1875rem;
        color: #969696;
      }
      span {
        padding-inline: 0.5rem;
      }
      .dropdown-text {
        margin-left: 0.3125rem;
        strong {
          margin-top: 0.3125rem;
        }
        small {
          opacity: 0.7;
          margin-top: -0.25rem;
          margin-bottom: 0.3125rem;
        }
      }
      .menu {
        width: 100%;
        background-color: #fff;
        border: 1px solid #e4e4e4;
        border-radius: 0.3125rem;
        padding: 0.625rem 0.9375rem;
        bottom: -310px;
        span {
          padding: 0.25rem 0.5rem;
          font-weight: 400;
          color: #212529;
          font-size: 0.8rem;
        }
        hr {
          margin: 0.2rem 0;
        }
      }
    }
    .notifications,
    .favorites,
    .basket {
      width: 3.125rem;
      height: 3.125rem;
      border: 1px solid #e4e4e4;
      border-radius: 50%;
      cursor: pointer;
    }
    .basket {
      width: 6.25rem;
      border-radius: 30em;
      &:hover {
        background-color: #e4e4e4;
      }
      span {
        margin-left: 0.625rem;
      }
    }
    .notifications,
    .favorites {
      .dropdown {
        width: 12.5rem;
        padding: 0.625rem 0.9375rem;
        border-radius: 0.3125rem;
        bottom: -3.4375rem;
      }
    }
    .favorites {
      .dropdown {
        width: 10rem;
        text-align: center;
      }
    }
  }
  .header-center-lg-item {
    border-top: 1px solid #e4e4e4;
    .menu-navbar-ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      height: 100%;
      cursor: pointer;
      .menu-navbar-li {
        &:hover {
          color: #ed502f;
          border-bottom: 2px solid #ed502f;
        }
      }
    }
  }
}

.dark-mode {
  .header-wrapper {
    background-color: #282828 !important;
    .header-top {
      border-color: #000 !important;
    }
    .header-center {
      .menus {
        button {
          background-color: transparent !important;
          border-color: #000 !important;
          * {
            color: #969696 !important;
          }
          .user-icon-wrapper {
            background-color: #000 !important;
            border-color: #000 !important;
          }
        }
      }
    }
    .desktop-user-menu {
      .dropdown,
      .notifications,
      .favorites,
      .basket {
        color: #969696;
        border-color: #000;
        background-color: #282828;
        &:hover {
          background-color: #464646;
        }
        .avatar {
          border-color: #000;
        }
        .menu {
          background-color: #282828;
          border-color: #000;
          span {
            color: #969696;
          }
        }
        .dropdown {
          color: #969696;
          border-color: #000 !important;
          background-color: #282828 !important;
        }
      }
    }
    .header-center-lg-item {
      border-color: #000;
      color: #969696;
    }
  }
}
