.footer-top-wrapper {
  background-color: #e4e4e4;
  a {
    color: #484848;
  }
}

.footer-bot-wrapper {
  background-color: #282828;
  padding-block: 2em;
  min-height: 5em;
  margin-bottom: 3.75rem;
  .contacts {
    p {
      color: #c9c9c9;
      font-size: 0.875rem;
    }
  }
  .agreements {
    p {
      color: #ffffff;
      margin-right: 2em;
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
}

.footer-center {
  background-color: #c9c9c9;
  img {
    width: 75px;
  }
  padding-block: 1rem;
  .footer-icons {
    width: 30px;
    height: 30px;
    color: #c9c9c9;
    background-color: #6f6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
      background-color: #000;
    }
  }
}

.dark-mode {
  .footer-top-wrapper {
    background-color: #282828;
    a {
      color: #969696;
    }
    p {
      color: #484848;
    }
  }
  .footer-center {
    background-color: #282828;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .footer-icons {
      color: #000;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
